# OS
.DS_Store

# Dependencies
node_modules

# Build artifacts
dist
dist-ssr
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

# Env files
.env
.env*
!.env.example
*.local

# Local files
count.txt
todos.json

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.trekker/
